body
{
    background-size: cover;
    background-position: center;
}
.heading{
    text-align: center;
    color: blue;
    background-color: rgb(236, 236, 54);
    width: 100%;
    margin:0;
    padding: 5px;
}
.heading button{
    display: inline;
    float: right;
    border: 1px black solid;

}
.yellow{
    color: black;
    font-weight: bold !important;
    background-color: rgb(236, 236, 54);
}
canvas{
    border: 2px rgb(236, 236, 54) solid;
    border-radius: 20px;
    box-shadow: 5px, 5px, 5px,rgb(236, 236, 54);
}